<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>mg.pass</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>01882BC6-6212-4115-8716-02DA8C20ABEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F251652-FD0D-4AD0-B2FF-EDB90DECD188</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>13F0D42D-0FFB-4002-80C7-21780AB19016</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7B97C94-3D0B-471E-96EE-A441A1FAB184</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1471D761-CECE-4E00-8C13-65CAF2FCB73D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBC41600-78DC-4F53-B938-8607416588B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>50640BEC-C2D7-4401-8673-AA2942BD5BF4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF88445D-9EF5-4B71-A0F7-D1DA91BD9D3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A95F68C-46B4-4DB4-9552-2AE787837BC3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB5D2E0A-8659-4286-849B-1AD709783751</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6ED806A4-C175-4BA3-8BD2-C11F1B6D5D24</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A95F68C-46B4-4DB4-9552-2AE787837BC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7175D1C0-34B3-4C88-BA50-00C7761C509B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C066752B-834A-475C-A61B-973423A4977B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72AB3D29-2B1E-4B36-9090-7CB5623DB15C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90A94B95-3124-4603-8C5C-E894F4AF801C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>71AC9951-5E36-4829-8259-4A9BD15C8A4D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BD38DAA1-41A8-4B75-BA49-81A6E9D45298</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D7A36330-DBD9-499A-A028-E301E1EAF2B4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AD519439-6DEC-447F-A927-F48F354C2DCB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B38E3888-3B4B-4610-9231-1805BA835B81</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72AB3D29-2B1E-4B36-9090-7CB5623DB15C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90A94B95-3124-4603-8C5C-E894F4AF801C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13F0D42D-0FFB-4002-80C7-21780AB19016</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB5D2E0A-8659-4286-849B-1AD709783751</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD9D353C-5D9C-4677-B161-8449FBEC3C8A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>71AC9951-5E36-4829-8259-4A9BD15C8A4D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7175D1C0-34B3-4C88-BA50-00C7761C509B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D7A36330-DBD9-499A-A028-E301E1EAF2B4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD519439-6DEC-447F-A927-F48F354C2DCB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FBA6C6C7-BC8C-43A4-ADFF-E081D773F600</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBC41600-78DC-4F53-B938-8607416588B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>154D688E-143D-43CE-8BF1-76BC08F59F30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD38DAA1-41A8-4B75-BA49-81A6E9D45298</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>01882BC6-6212-4115-8716-02DA8C20ABEA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C066752B-834A-475C-A61B-973423A4977B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50640BEC-C2D7-4401-8673-AA2942BD5BF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD9D353C-5D9C-4677-B161-8449FBEC3C8A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1471D761-CECE-4E00-8C13-65CAF2FCB73D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FBA6C6C7-BC8C-43A4-ADFF-E081D773F600</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6ED806A4-C175-4BA3-8BD2-C11F1B6D5D24</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Murdock Grewar</string>
	<key>description</key>
	<string>Pass menu</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>pass</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C7B97C94-3D0B-471E-96EE-A441A1FAB184</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>printf "$(pass "$1" | head -n 1)"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>13F0D42D-0FFB-4002-80C7-21780AB19016</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>copy_firstline +(.*)</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>90A94B95-3124-4603-8C5C-E894F4AF801C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>pass</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python3 pass-filter.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Browse password-store</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>copy_firstline +.*</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>71AC9951-5E36-4829-8259-4A9BD15C8A4D</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>autotype_firstline +.*</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>D7A36330-DBD9-499A-A028-E301E1EAF2B4</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>browse_fields +.*</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>B38E3888-3B4B-4610-9231-1805BA835B81</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>72AB3D29-2B1E-4B36-9090-7CB5623DB15C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6F251652-FD0D-4AD0-B2FF-EDB90DECD188</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>printf "$(pass "$1" | head -n 1)"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>01882BC6-6212-4115-8716-02DA8C20ABEA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>autotype_firstline +(.*)</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>BD38DAA1-41A8-4B75-BA49-81A6E9D45298</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>154D688E-143D-43CE-8BF1-76BC08F59F30</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>psp="$2"
linenum="$1"

printf "$(pass "$psp" | sed -n "${linenum}p" | sed -E 's/^ *([^:]+): +( ?[^ ]+) *$/\2/')"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BBC41600-78DC-4F53-B938-8607416588B7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>TMPFILE="$(mktemp)"
printf "$TMPFILE" &gt; "$_ALFRED_PASS_SHOW_OUTPUT_TMP_FILE_LOC"
./pass-show.py "$1" &gt; "$TMPFILE"
echo "Temporary file created at: '$TMPFILE'" &amp;&gt;2
printf "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FBA6C6C7-BC8C-43A4-ADFF-E081D773F600</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>TMPFILE="$(cat "$_ALFRED_PASS_SHOW_OUTPUT_TMP_FILE_LOC")"
./pass-browse.py "$1" &lt; "$TMPFILE"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6ED806A4-C175-4BA3-8BD2-C11F1B6D5D24</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string> </string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<false/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>1471D761-CECE-4E00-8C13-65CAF2FCB73D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>copy +([0-9]+) +([^ ]+) *</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>$1 $2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>CD9D353C-5D9C-4677-B161-8449FBEC3C8A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>copy +([0-9]+) +([^ ]+) *</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>71AC9951-5E36-4829-8259-4A9BD15C8A4D</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>autotype +([0-9]+) +([^ ]+) *</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>D7A36330-DBD9-499A-A028-E301E1EAF2B4</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>AB5D2E0A-8659-4286-849B-1AD709783751</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>browse_fields +(.*)</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>AD519439-6DEC-447F-A927-F48F354C2DCB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CF88445D-9EF5-4B71-A0F7-D1DA91BD9D3A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>psp="$2"
linenum="$1"

printf "$(pass "$psp" | sed -n "${linenum}p" | sed -E 's/^ *([^:]+): +( ?[^ ]+) *$/\2/')"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>50640BEC-C2D7-4401-8673-AA2942BD5BF4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string> </string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<false/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>C066752B-834A-475C-A61B-973423A4977B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>TMPFILE="$(cat "$_ALFRED_PASS_SHOW_OUTPUT_TMP_FILE_LOC")"
rm "$TMPFILE"
printf "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5A95F68C-46B4-4DB4-9552-2AE787837BC3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>autotype +([0-9]+) +([^ ]+) *</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>$1 $2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>7175D1C0-34B3-4C88-BA50-00C7761C509B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>01882BC6-6212-4115-8716-02DA8C20ABEA</key>
		<dict>
			<key>note</key>
			<string>pass "$1" | head -n 1</string>
			<key>xpos</key>
			<real>745</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>13F0D42D-0FFB-4002-80C7-21780AB19016</key>
		<dict>
			<key>note</key>
			<string>pass "$1" | head -n 1</string>
			<key>xpos</key>
			<real>745</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>1471D761-CECE-4E00-8C13-65CAF2FCB73D</key>
		<dict>
			<key>xpos</key>
			<real>915</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>154D688E-143D-43CE-8BF1-76BC08F59F30</key>
		<dict>
			<key>note</key>
			<string>Copy</string>
			<key>xpos</key>
			<real>1145</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>50640BEC-C2D7-4401-8673-AA2942BD5BF4</key>
		<dict>
			<key>note</key>
			<string>pass "$2" | sed ...</string>
			<key>xpos</key>
			<real>995</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>5A95F68C-46B4-4DB4-9552-2AE787837BC3</key>
		<dict>
			<key>note</key>
			<string>rm $FILE</string>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>6ED806A4-C175-4BA3-8BD2-C11F1B6D5D24</key>
		<dict>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>6F251652-FD0D-4AD0-B2FF-EDB90DECD188</key>
		<dict>
			<key>note</key>
			<string>Copy &amp; paste</string>
			<key>xpos</key>
			<real>960</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>7175D1C0-34B3-4C88-BA50-00C7761C509B</key>
		<dict>
			<key>xpos</key>
			<real>840</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>72AB3D29-2B1E-4B36-9090-7CB5623DB15C</key>
		<dict>
			<key>note</key>
			<string>copy_firstline _
autotype_firstline _
browse_fields _</string>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>90A94B95-3124-4603-8C5C-E894F4AF801C</key>
		<dict>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>AB5D2E0A-8659-4286-849B-1AD709783751</key>
		<dict>
			<key>note</key>
			<string>copy _
autotype _</string>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>AD519439-6DEC-447F-A927-F48F354C2DCB</key>
		<dict>
			<key>note</key>
			<string>browse_fields $psp --&gt; $psp</string>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>BBC41600-78DC-4F53-B938-8607416588B7</key>
		<dict>
			<key>note</key>
			<string>pass "$2" | sed ...</string>
			<key>xpos</key>
			<real>995</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>BD38DAA1-41A8-4B75-BA49-81A6E9D45298</key>
		<dict>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>C066752B-834A-475C-A61B-973423A4977B</key>
		<dict>
			<key>xpos</key>
			<real>915</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>C7B97C94-3D0B-471E-96EE-A441A1FAB184</key>
		<dict>
			<key>note</key>
			<string>Copy</string>
			<key>xpos</key>
			<real>960</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>CD9D353C-5D9C-4677-B161-8449FBEC3C8A</key>
		<dict>
			<key>xpos</key>
			<real>840</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>CF88445D-9EF5-4B71-A0F7-D1DA91BD9D3A</key>
		<dict>
			<key>note</key>
			<string>Copy &amp; paste</string>
			<key>xpos</key>
			<real>1145</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>FBA6C6C7-BC8C-43A4-ADFF-E081D773F600</key>
		<dict>
			<key>note</key>
			<string>Create temporary text file containing output of `pass show`.

(This is necessary because Alfred is too dumb to just take the stdout from an interactive script which steals focus, and pass it on. If an interactive script executes during a "Script Filter", i.e. a touch ID window which steals focus from Alfred, then Alfred forgets where it was and the whole workflow gets cancelled.)</string>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>_ALFRED_PASS_SHOW_OUTPUT_TMP_FILE_LOC</key>
		<string>/Users/murdock/testing2.txt</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>_ALFRED_PASS_SHOW_OUTPUT_TMP_FILE_LOC</string>
	</array>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
